<div>
    <div class="d-flex justify-content-between">
        <h2>Student Management</h2>
        <button type="button" (click)="addStudent()">
            Add Student
        </button>
    </div>

    @if (isLoading()) {
        <p>Loading...</p>
    }

    @if (errorMessage()) {
        <p>{{ errorMessage() }}</p>
    }

    @if (!isLoading() && !errorMessage()) {
    @for (student of students(); track student.id) {
    <div class="student-card">
        <p>{{ student.name }}</p>
        <p>{{ student.email }}</p>
        <p>{{ student.course }}</p>
        <button type="button" (click)="viewStudent(student.id)">View</button>
        <button type="button" (click)="editStudent(student.id)"> Edit </button>
        <button type="button" (click)="deleteStudent(student.id)"> Delete </button>
    </div>
    }
    }
</div>