<!-- <form [formGroup]="studentForm" novalidate>
	<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate>

	<div>
		<label for="Id">Id</label>
		<input id="Id" type="number" formControlName="Id" />
	</div>

	<div>
		<label for="name">Name</label>
		<input id="name" type="text" formControlName="name" />
		@if (studentForm.controls.name.touched && studentForm.controls.name.invalid) {
		<small>Name is required.</small>
		}
	</div>

	<div>
		<label for="email">Email</label>
		<input id="email" type="email" formControlName="email" />
		@if (studentForm.controls.email.touched && studentForm.controls.email.invalid) {
		<small>Enter a valid email address.</small>
		}
	</div>

	<div>
		<label for="age">Age</label>
		<input id="age" type="number" formControlName="age" />
	</div>

	<div>
		<label for="course">Course</label>
		<input id="course" type="string" formControlName="course" />
	</div>

	<button type="submit" (click)="saveStudent()">Save student</button>
</form> -->

<div class="container">
	<h2>{{ studentId ? 'Edit Student' : 'Add Student' }}</h2>

	<form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
		<div>
			<label>Id</label>
			<input type="text" formControlName="id">
			@if (studentForm.controls.id.touched && studentForm.controls.id.invalid) {
				<small>Id is required</small>
			}
		</div>
		<div>
			<label>Name</label>
			<input type="text" formControlName="name">
			@if (studentForm.controls.name.touched && studentForm.controls.name.invalid) {
			<small>Name is required</small>
			}
		</div>

		<div>
			<label>Email</label>
			<input type="email" formControlName="email">
			@if (studentForm.controls.email.touched && studentForm.controls.email.invalid) {
			<small>
				Please enter a valid email
			</small>
			}
		</div>

		<div>
			<label>Age</label>
			<input type="number" formControlName="age">
			@if (studentForm.controls.age.touched && studentForm.controls.age.invalid) {
			<small>
				Age must be at least 18
			</small>
			}
		</div>

		<div>
			<label>Course</label>
			<input type="text" formControlName="course">
			@if (studentForm.controls.course.touched && studentForm.controls.course.invalid) {
			<small>
				Course is required
			</small>
			}
		</div>

		<button type="submit" [disabled]="studentForm.invalid">
			{{ studentId ? 'Update Student' : 'Add Student' }}
		</button>
	</form>
</div>