<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Username -->
        <div>
            <label>Username</label>
            <input type="text" formControlName="username" placeholder="Enter username">
            @if ( loginForm.controls.username.touched && loginForm.controls.username.invalid) {
            <small>Username is required</small>
            }
        </div>
        <!-- Password -->
        <div>
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="Enter password">
            @if ( loginForm.controls.password.touched &&loginForm.controls.password.invalid) {
            <small>Password is required</small>
            }
        </div>
        <!-- Error -->
        @if (errorMessage) {
            <p class="text-danger">{{ errorMessage }}</p>
        }

        <button type="submit" [disabled]="loginForm.invalid">
            Login
        </button>

    </form>

</div>